{% extends '_basic.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}


<link href="{% static 'style/game.css'  %}" rel="stylesheet">
<div id="time__div" class="bg-primary text-center">

    <div class="d-flex flex-row justify-content-center">

        <div class="mr-5">
            <h2>TIME LEFT</h2>
        </div>

        <div id="time">
            <h2 id="countdown"></h2>
        </div>
    </div>
</div>

<div class="container text-center">
    <h3>{{viewer_question}}</h3>

    <form method="POST" class="" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-secondary rounded" id="answer_submission">

    </form>

</div>



<script>

    const data = JSON.parse(("{{data|escapejs}}"))

</script>


<script src="{% static '/javascripts/game.js'%}" type="text/javascript"></script>

{% endblock content %}