{% extends '_basic.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<link href="{% static 'style/quizzList.css'  %}" rel="stylesheet">
<nav class="navbar navbar-expand-lg bg-light w-100">
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/">
                <h3>HOME</h3>
            </a>

        </li>
    </ul>

</nav>

<div class="text-center py-4">
    <h3>
        Choose the subject you want to play with
    </h3>
</div>
<div class="row mt-5">
    {% for description,pending,total,slug,time in zippedData %}
    <div class="col-md-4" title=" you have {{time}} minutes for each question">
        <a class="text-dark" href="{% url 'QuizApp:playquiz' slug=slug %}">
            <div class="card mb-4 box-shadow">
                <div class="card-body text-center">

                    <div class="d-flex justify-content-around align-items-center text-center ">
                        {% if pending == total %}
                        <small class="font-weight-bold ">{{description}}</small>
                        {% elif pending == 0 %}
                        <small class="font-weight-bold ">{{description}} </small><br>
                        <small class="text-success">Test Completed</small></small>
                        {% else %}
                        <small class="font-weight-bold ">{{description}} </small><br>
                        <small class="text-danger">{{pending}} pending questions to attempt</small></small>
                        {% endif %}
                    </div>

                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


<div class="info">
    <div class="text-center">
        <strong>NOTE</strong>
    </div>

    <div class="d-flex flex-column justify-content-start ">
        <div>
            <p>If you want to leave test in between then not to worry your test will continue again from the same
                question where you left </p>
        </div>

        <div>
            <p>For one word answer letter case does not matter you can type answer in any case </p>
        </div>
    </div>
</div>


{% endblock content %}